.artists{
    background-color: blue;
    color: rgb(224, 224, 224);
    font-size: 1.3rem;
    display: flex;
    padding: 2rem;
}

ul{
    width: 50vh;
    margin: 1rem;
    background-color: red;
    padding: 1rem;
    cursor: pointer;
}

li{
    margin: 1rem;
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.div{
    width: 100%;
    color: rgb(2, 1, 1);
}

.hide{
    display: none;
}